@import "../../styles/colors";

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;

  &-category {
    padding: 12px 8px;
    border-bottom: 2px solid $color-table-border !important;
    text-align: inherit;

    &-value {
      border-color: $color-gray-40;
      font-size: 15px;
      padding: 12px;
      border-top: 1px solid $color-table-border;
    }
  }
}
