@import "src/client/styles/colors";
@import "src/client/styles/variables";

.shop-card {
  display: flex;
  flex-direction: column;

  &-image {
    width: 100%;
    cursor: pointer;
  }

  &-title {
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0;
  }

  &-bottom {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
  }

  &-price {
    font-weight: 600;
    color: $color-green-10;
  }

  &-button {
    line-height: 18px;
  }
}
