@import "src/client/styles/colors";
@import "src/client/styles/variables";

.shop {
  &-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 48px 0;
    gap: 20px 30px;
  }
}