@import 'src/client/styles/colors';
@import 'src/client/styles/variables';

.header {
  width: 100%;
  background-color: $color-white;
  padding: 10px 0;

  &-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &-logo {
    border-radius: 50%;
    width: 80px;

    &-wrapper {
      margin-right: 20px;
      border-radius: 50%;
      border: 1px solid $color-gray-30;
    }
  }

  &-button {
    font-size: 20px;
    line-height: 28px;
    padding: 5px 40px !important;
  }

  &-search {
    margin: 0 20px;
    max-width: 600px;
    flex: 1 0 auto;
  }

  &-image {
    margin-right: 20px;
    cursor: pointer;
  }
}