@import 'src/client/styles/colors';

.header {
  width: 100%;
  background-color: $color-hamburger-menu;
  padding: 20px 0;

  &-container {
    width: 100%;
    padding: 0 100px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    flex-wrap: wrap;
    cursor: default;
  }

  &-image {
    width: 100px;
  }

  &-social-number {
    color: $color-black;
    transition: color 0.5s ease-out;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

    &:hover {
      color: $color-text-danger;
    }
  }
}