@import 'src/client/styles/colors';

.header {
  width: 100%;
  background-color: $color-hamburger-menu;
  padding: 20px 0;

  &-container {
    width: 100%;
    padding: 0 100px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    flex-wrap: wrap;
    cursor: default;
  }

  &-logo {
    margin-right: 14px;
  }

  &-socials-wrapper,
  &-image-wrapper {
    margin: 0 14px;

  }

  &-socials-number-wrapper {
    margin-left: 14px;
  }

  &-image {
    width: 100px;

    &-wrapper {
      flex: 1 0 auto;
    }
  }

  &-social-number {
    color: $color-number;
    transition: color 0.5s ease-out;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: Raleway, sans-serif;

    &:hover {
      color: $color-number-hover;
    }

    &-image {
      margin-right: 4px;
    }
  }
}