$color-text-primary: #ffe5cc;
$color-text-secondary: #e0e0e0;

$color-orange: #ff9933;
$color-black-10: #000;
$color-black-20: #263238;
$color-white: #fff;
$color-gray-10: #566b75;
$color-gray-20: #ced4da;
$color-gray-30: #ced9db;
$color-gray-40: #e3ecef;
$color-text-danger: #c90808;
$color-text-success: #238732;

$color-hamburger-menu: #faebd7;
$color-number: #333;
$color-number-hover: #fa5a62;
$color-geo: #78909c;
$color-hover: #28b5bf;
