$color-text-primary: #ffe5cc;
$color-text-secondary: #e0e0e0;

$color-orange: #ff9933;
$color-black: #000;
$color-white: #fff;
$color-gray: #ced4da;
$color-text-danger: #c90808;
$color-text-success: #238732;

$color-hamburger-menu: #faebd7;
$color-number: #333;
$color-number-hover: #fa5a62;
