$desktop-min-width: 1200px;
$tablet-min-width: 768px;
$mobile-l-min-width: 425px;
$mobile-min-width: 320px;

$block-max-width: 1140px;

$animation-duration: .2s;
$animation-duration-more: .5s;

$z-index-overlay: 101;
