@import "src/client/styles/variables";

.container {
  display: flex;
  align-items: center;
  max-width: $block-max-width;
  margin: 0 auto;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }
}
