@import "src/client/styles/colors";

::-webkit-calendar-picker-indicator {
  width: 50%;
  cursor: pointer;
  opacity: 0;
}

.input {
  width: 100%;
  font-size: 15px;
  line-height: 34px;
  color: $color-black-20;
  background-color: transparent;
  border: 1px solid $color-gray-30;
  border-radius: 4px;
  box-shadow: none;
  padding: 0 30px 0 10px;

  &-without-image {
    padding: 0 0 0 10px;
  }

  &-wrapper {
    position: relative;
    margin: 10px 0;
  }

  &-image {
    position: absolute;
    right: 5px;
    top: 6px;
    pointer-events: none;
  }
}
