@import "src/client/styles/colors";
@import "src/client/styles/variables";

.device {
  &-title {
    width: 100%;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 200;
  }

  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
  }

  &-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      position: relative;
      min-height: 600px;
      width: 60%;
    }
  }

  &-info {
    padding: 0 25px;
    width: 40%;
  }

  &-price {
    color: $color-green-10;
    font-weight: 600;
  }

  &-car {
    position: absolute;
    top: 8px;
  }

  &-delivery {
    padding: 15px 40px;
    color: $color-gray-15;
    font-weight: bold;

    &-wrapper {
      position: relative;
      margin-bottom: 10px;
    }
  }

  &-button {
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    margin-top: 8px;
  }
}
