@import "src/client/styles/variables";
@import "src/client/styles/colors";

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid $color-hr;
}

.delivery {
  &-container {
    display: flex;
    flex-direction: column;
    max-width: $block-max-width;
    margin: 0 auto;
    cursor: default;
  }

  &-title {
    margin: 25px 0 5px;
  }

  &-table-row {
    &:nth-child(odd) {
      background-color: $color-gray-50;
    }
  }

  &-description {
    color: $color-black-20;
  }
}
