@import "src/client/styles/variables";
@import "src/client/styles/colors";

hr {
  border-top: 2px solid $color-hr;
}

.delivery {
  &-title {
    width: 100%;
    margin: 25px 0 5px;
  }

  &-table-row {
    &:nth-child(odd) {
      background-color: $color-gray-50;
    }
  }

  &-divider {
    margin: 20px 0;
  }

  &-description {
    color: $color-black-20;
  }
}
