@import "src/client/styles/colors";
@import "src/client/styles/variables";

.button {
  position: relative;

  &-text {
    align-items: center;
    padding: 10px 18px;
    font-size: 14px;
    color: $color-black-20;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid $color-gray-40;
    background-color: $color-white;
    transition: color $animation-duration ease 0s,border-color $animation-duration ease 0s,background-color $animation-duration ease 0s,opacity $animation-duration ease 0s;

    &:hover {
      color: $color-white;
      background-color: $color-hover;
    }
  }

  &-label {
    position: absolute;
    padding: 2px 5px 1px;
    font-size: 11px;
    color: $color-gray-10;
    line-height: 13px;
    border-radius: 3px;
    background: $color-gray-30;
    top: -1px;
    left: 75px;
    pointer-events: none;
  }
}
