@import "src/client/styles/colors";
@import "src/client/styles/variables";

.navbar-item {
  display: block;
  font-style: normal;
  background: $color-navbar;
  color: $color-white;
  font-size: 15px;
  line-height: 18px;
  padding: 8px 10px;
  transition: all $animation-duration ease-out;

  &:hover {
    background: $color-black-20;
  }

  &-wrapper {
  }
}
