@import "src/client/styles/colors";

.circle {
  width: 5px;
  height: 5px;
  margin-right: 6px;
  border-radius: 5px;

  &-open {
    background-color: $color-text-success;
  }

  &-close {
    background-color: $color-text-danger;
  }
}
