@import "src/client/styles/colors";
@import "src/client/styles/variables";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity $animation-duration linear;

  &-active {
    opacity: 1;
    pointer-events: all;
  }

  &-content {
    width: 50vw;
    padding: 20px;
    border-radius: 12px;
    background-color: $color-white;
    transform: scale(0.5);
    transition: all $animation-duration linear;

    &-active {
      transform: scale(1);
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
      line-height: 30px;
      align-items: center;
    }

    &-image {
      cursor: pointer;
    }
  }

  &-divider {
    margin: 5px 0 10px;
  }
}
